page-category {
    #card-category{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin: 0 !important;
    }
    #button-category{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
